# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# Set default charset
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# 4 space indentation
[{*.js,*.scss}]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

# Matches the exact files either package.json or .travis.yml
[package.json]
indent_style = space
indent_size = 2
